@font-face{
    src: url(fonts/Fraunces/Fraunces_72pt_Soft-Bold.ttf);
    font-family: fraunces;
}

@font-face{
    src: url(fonts/Montserrat/Montserrat-Regular.ttf);
    font-family: montserrat;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --price-color : hsl(158, 36%, 37%);
    --button-color : hsl(158, 42%, 18%);
    --heading-color: hsl(212, 21%, 14%);
    --text-color: hsl(228, 12%, 48%);
    --bg-color: hsl(30, 38%, 92%);
    --font-fraunces: fraunces;
    --font-montserrat: montserrat;
}

body{
    background-color: var(--bg-color);
}

.grid{
    height: 100dvh;
    display: grid;
	justify-content: center;
	align-content: center;
}

.card{
    width: 36rem;
    height: 27rem;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 0.5rem;
}

.card .img{
    background-image: url(images/desktop.jpg);
    background-size: cover;
    border-radius: 0.5rem 0 0 0.5rem;
    width: 50%;
    height: 100%;
    background-position: center;
}

.card .content{
    padding: 2rem;
    width: 50%;
}

.content .perfume{
    font-family: var(--font-montserrat);
    color: var(--text-color);
    font-size: 0.875rem;
    margin-bottom: 0.875rem;
    letter-spacing: 4px;
    font-weight: 500;
}

.content h1{
    color: var(--heading-color);
    font-family: var(--font-fraunces);
    font-weight: 20rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
}

.content .description{
    font-family: var(--font-montserrat);
    color: var(--text-color);
    font-size: 0.875rem;
    font-weight: 500;
}

.content .price{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 1.5rem;
    gap: 1.5rem;
}

.content .price .real-price{
    font-family: var(--font-fraunces);
    color: var(--price-color);
    font-weight: 700;
}

.content .price .deleted-price{
    align-self: center;
    padding-bottom: 1.5rem;
    color: var(--text-color);
    font-family: var(--font-montserrat);
    font-size: 0.875rem;
    font-weight: 500;
}

.content .btn{
    display: flex;
    justify-content: center;
    background-color: var(--price-color);
    color: #fff;
    width: 100%;
    padding: 1.2rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.4rem;
    border: none;
    cursor: pointer;
}
.content .btn:active{
    background-color: var(--button-color)
}

@media (max-width: 600px){
    .grid{
        padding: 1rem;
    }
    .card{
        height: 100%;
        width: 100%;
        flex-direction: column;
    }
    .card .img{
        width: 100%;
        height: 26rem;
        background-image: url(images/image-product-mobile.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 0.5rem 0.5rem 0 0;
        
    }
    .card .content{
        width: 100%;
    }
}